{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% if site_logo %}
  <div id="logo">
    {% if not is_front %}
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    {% endif %}
        <img src="{{ site_logo }}" alt="{{ 'Commission for victims of crime'|t }}" />
    {% if not is_front %}
      </a>
    {% endif %}
  </div>
{% endif %}
{% if site_slogan %}
  <div id="site-title">
    <div id="site-description">
      {{ site_slogan }}
    </div>
  </div>
{% endif %}
