{#
/**
* @file
* Block template for exposed filter forms attached to search pages.
 * The following is controlled through the uregni_theme.theme variables.
 * - search_page_name: Returns the name of the search page based on its plugin id.
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}


<div{{ attributes.addClass(classes) }}>
  {% set search_desc = 'Search ' ~ search_page_name ~ ' and choose filters to show only the results you want' %}
  <p>{{ search_desc|t }}</p>
  {% block content %}
    {% if content_attributes is not empty %}
      <div{{ content_attributes }}>
        {{ content }}
      </div>
    {% else %}
      {{ content }}
    {% endif %}
  {% endblock %}
</div>
<h2 class="visually-hidden">Filter search results</h2>
